*{
  box-sizing: border-box;
  text-align: center;
  margin:0;
  padding:0;
}

section{
  margin: 0 auto 50px auto;
}

nav{
  color:#fff;
  background-color: #2c3e50;
  height:50px;
  width:100%;
  position: fixed;
  z-index: 100;
}
ul{
  list-style: none;
}


nav ul li{
  margin-right: 20px;
  display: inline-block;
}


nav *{
  line-height: 45px;
}

#jumbo{
  min-height: 450px;
  background-color: #1abc9c;
  color:white;
}
#jumbo hr{
  border:solid 1px white;
  width:10%;
  display: inline-block;
  text-align: center;
}
#jumbo ul{
  padding-bottom:50px;
}
#jumbo ul li{
  display: inline;
  padding-bottom:50px;
}

#jumbo img{
  max-width: 20%;
  max-height: 20%;
  margin-top:10%;
}

.marg{
  border:solid transparent 15px;
}

.box{
    min-width: 100%;
    min-height:100%;
}
.box img{
  border-radius: 10px;
    min-width:100%;
    min-height:100%;
}

#portfolio hr{
  width:10%;
  display: inline-block;
  border:1px solid black;
}
#portfolio img{
  max-width:20%;
  max-height:20%;
}



#about{
  color:white;
  background-color: #1abc9c;
}
#about hr{
  width:10%;
  display: inline-block;
  border:1px solid white;
}
#about button{
  padding:10px;
  border: white solid 1px;
  background-color: inherit;
  border-radius: 5px;
  margin-bottom:5%;
}
#about p{
  padding:50px ;
  font-size:18px;
}
.star_icon{
  padding:15px;
  font-size: 35px;
}
form hr{
  width:10%;
  display: inline-block;
  border:1px solid black;
}
input{
  margin: auto;
  text-align:left;
  display: block;
  width:70%;
  height:50px;
  border:none;
  border-bottom: black solid 1.5px;
}
 form textarea{
   width:70%;
   margin: 15px ;
   text-align: left;
   border:none;
   border-bottom: black solid 1.5px;
 }

 form button{
   display: block;
   margin:25px 0 25px 15%;
   background-color:#1abc9c;
   color:white;
   padding:10px 15px;
   border-radius: 5px;
 }

footer{
  background-color: #3a546d;
  color:white;
}
#social li{
  display: inline-block;
  border:white solid 1px;
  border-radius:50%;
  width:50px;
  height:50px;
  margin-right: 10px;
  position:relative;
}
#social li img{
  max-width: 50%;
  max-height: 50%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#copyright{
  background-color:#2c3e50;
  color:white;
  margin:0;
  padding:50px;
}
