*{
  box-sizing: border-box;
  /* margin:0 auto; */
  /* padding:0; */
  text-align: center;
}
section{
  margin: 0 auto 50px auto;
}
ul{
  list-style: none;
}


nav ul li{
  margin-right: 20px;
  display: inline-block;
}

nav{
  color:#fff;
  background-color: #2c3e50;
  height:50px;
  width:100%;
  position: fixed;
}

nav *{
  line-height: 45px;
}

#jumbo{
  min-height: 450px;
  background-color: #1abc9c;
}

#jumbo ul li{
  display: inline;
  margin:auto auto;
}

#jumbo img{
  max-width: 20%;
  max-height: 20%;
  margin-top:5%;
}
.marg{
  border:solid transparent 15px;
}
.pink{
  background-color:#ba4b63;
    min-height: 100px;
}
hr{
  width:10%;
  display: inline-block;
}
#portfolio img{
  max-width:20%;
  max-height:20%;
}

.pad{

  margin:25px auto;

}

#about{
  background-color: #1abc9c;
}
#about button{
  width:10%;
  height:50px;
}
#about p{
  padding:50px 100px;
  font-size:18px;
  color:white;
}
.star_icon{
  color:black;
padding:15px;
  font-size: 35px;
}
form{
}

footer{
  background-color: #3a546d;
  color:white;
}

#copyright{
  background-color:#2c3e50;
  color:white;
  margin:0;
  padding:50px;
}

input{
  margin:0 auto;
  text-align: left;
  display: block;
  border:none;
  border-bottom: black solid 1px;
}
