*{
  box-sizing: border-box;
  text-align: center;
  margin:0;
  padding:0;
}

section{
  margin: 0 auto 50px auto;
}

nav{
  color:#fff;
  background-color: #2c3e50;
  height:50px;
  width:100%;
  position: fixed;
  z-index: 100;
}
ul{
  list-style: none;
}


nav ul li{
  margin-right: 20px;
  display: inline-block;
}


nav *{
  line-height: 45px;
}

#jumbo{
  min-height: 450px;
  background-color: #1abc9c;
  color:white;
}
#jumbo hr{
  border:solid 1px white;
  width:10%;
  display: inline-block;
  text-align: center;
}
#jumbo ul{
  padding-bottom:50px;
}
#jumbo ul li{
  display: inline;
  padding-bottom:50px;
}

#jumbo img{
  max-width: 20%;
  max-height: 20%;
  margin-top:10%;
}

.marg{
  border:solid transparent 15px;
}

.pink{
  background-color:#ba4b63;
    min-height: 100px;
}

#portfolio hr{
  width:10%;
  display: inline-block;
  border:1px solid black;
}
#portfolio img{
  max-width:20%;
  max-height:20%;
}



#about{
  background-color: #1abc9c;
}
#about button{
  width:10%;
  height:50px;
}
#about p{
  padding:50px 100px;
  font-size:18px;
  color:white;
}
.star_icon{
  padding:15px;
  font-size: 35px;
}
form{
}

footer{
  background-color: #3a546d;
  color:white;
}

#copyright{
  background-color:#2c3e50;
  color:white;
  margin:0;
  padding:50px;
}

input{
  margin:0 auto;
  text-align: left;
  display: block;
  border:none;
  border-bottom: black solid 1px;
}
